{% extends 'base.html.twig' %}

{% block title %}{{ title }} | {{ parent() }}{% endblock %}

{% block body %}
    <section class="wishes-list">
        <h2>All wishes!</h2>
        {% for wish in wishes %}
            <article>
                <a href="{{ path('wish_detail', {id: wish.id}) }}" title="View this wish in details"><strong>{{ wish.title }}</strong></a>
                <p>Votre souhaite en détail : {{ wish.description }}</p>
                <p>Créé le {{ wish.createdAt | date('d-m-Y à H:i:s') }}</p>
                <p>Par {{ wish.author }}</p>
                <p> Publié : {{ wish.isPublished ? 'Oui' : 'Non' }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}